body {
  background-color: #F2FDFF;
  border-top-left-radius: 100px;
}

.max-width-container {
  max-width: 800px;
  background-color: #F2FDFF;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  border-top-left-radius: 100px;
}

/* name text box */
.h1-container {
  text-align: left;
  margin: 10px 10px 10px 100px;
  padding: 5px 5px 5px 5px;
  background-color: #F2FDFF;
  border-radius: 25px;
}
/* Name */
h1 {
  text-align: center;
  color: #564787;
  font-family: cursive;
  font-size: 45px;
  text-shadow: 2px -2px 2px #101935;
}
/* software developer text box */
.career-title {
  text-align: center;
  color: #DBCBD8;
  font-size: 25px;
  font-family: 'Courier New';
}
/* image circle */
.ady2020-container {
  background-color: #101935;
  float: left;
  height: 200px;
  margin: 0px 0px;
  padding: 10px 10px;
  border-color: #101935;
  border-radius: 50%;
}
 /* Header container */
.textbox-container {
  background-color: #101935;
  float: left;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 100px;
}

.contact-media, .background-color {
  background-color: #F2FDFF;
  /*BODY TEXT COLOR*/
  color: #564787;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 10px;
  padding-bottom: 20px;
  border: 10px;
  border-color: #101935;
  text-shadow: 1px -1px 2px #DBCBD8;
}

h2 {
text-align: left;
margin-left: -5px;
padding: 0px 20px;
background-color: #DBCBD8;
color: #564787;
width: 500 px;
text-shadow: 1px -1px 2px #101935;
}

hr {
  width: 800px;
  height: 5px;
  border: none;
  background: #564787;
}

p, li, h3, ul, ol{
font-family: Helvetica, sans-serif;
font-size: 18px;
padding: 0px 10px 0px 10px;
list-style-position: inside;
}


a:link {color: #564787;}
a:visited {color: #564787;}
a:hover {color: #101935;}
a:active {color: #DBCBD8;}

footer {
  background-color: #101935;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  color: #9AD4D6;
  text-align: left;
  margin-left: 0px;
}
